@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fonts"), url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fonts"), url("./fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Fonts"), url("./fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Fonts"), url("./fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
}
