/*width*/
$mobile-width: 360px;
$tablet-width: 768px;
$tablet-width-more: 960px;
$desktop-width: 1440px;
$desktop-width-more: 1921px;

/*color-bg_color*/
$bg-color-9A0034: #9A0034;
$bg-color-E8D8D9: #E8D8D9;
$bg-color-D7969E: #D7969E;
$bg-color-DEDCDC: #DEDCDC;
$bg-color-898989: #898989;
$bg-color-B7B7B7: #B7B7B7;
$bg-color-000: #000000;

$bg-header: rgba(255, 255, 255, 0.85);

/*Color*/

$black: #000;
$gray: #292929;
$white: #FFF;

/*Font*/
$font-family-base: "Cera Pro", "Arial", sans-serif;
$font-family-other: "Montserrat", "Arial", sans-serif;
